/**
* Description: Core theme for Lydia
*/

/**
* Structure
*/
html {background:#FFFFFF;}
html{overflow-y:scroll;}

body{margin-top: -10mm; margin-bottom: 0px; 
margin-left: 30mm; margin-right:30mm;}
body{padding:10mm; background: #FFFFFF;}
body{min-width:280mm;transform: scale(0.87,0.87);
-ms-transform: scale(0.87,0.87); /* IE 9 */
-webkit-transform: scale(0.87,0.87); /* Safari and Chrome */}

body{  font-family: Georgia, serif;}
body{color: #333;}

/**
* Login menu
*/
#login-menu{float:right;font-size:smaller;}
#login-menu img.gravatar{vertical-align:middle;}
#login-menu a{text-decoration:none;}
#login-menu a:hover{text-decoration:underline;}


/**
* Banner
*/


banner {display:table;margin-bottom:10px;}










.site-title{font-size:1.4em;color:#333; }




header,footer,nav,article,section,aside,figure,figcaption{display:block;}
  
/**
* Links
*/
a{color:#77B5FE;  font-size:1em; outline:0;  }
a:link  { }
a:visited  { }
a:hover  { text-decoration:none; color:#333; }
a:active  { }

/**
* Headings
*/
h1{ font-size:1.4em;color:#333;}
#main { color:#333;font-size:1em;}


p{color:#333;}

/**
* Forms
*/
input{font:inherit;}
input[readonly]{color:#666;}
label{font-size:smaller;}
.validation-failed{border:2px solid red;}
.validation-message{color:red;font-size:smaller;}
.form-action-link{font-size:smaller;}


.content-edit input[type=text]{width:30em;}
.content-edit textarea{width:40em;height:15em;}


